@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		/* 
		--red-1: #B42318;
		--red-2: #B54708;
		--red-3: #EC5633;
		--red-4: #EE765A;
		--red-5: #EF866F;
		--red-6: #F09682;
		--red-7: #F2C6BC;
		--red-8: #FFFAEB;
		--red-9: #FEF3F2;
		--red-10:  #F0B5A8;
		

		--green-1: #027A48;
		--grean-2: #12B76A;
		--green-3: #ECFDF3;



		--black-1: #000000;
		--black-2: #101828;
		--black-3: #344054;
		--black-4: #667085;
		--black-5: #D0D5DD;
		
		
		
		--white-1: #FFFFFF;
		--white-2: #F4EBFF;
		
		
		--blue-1: #2E90FA;
		
		--purple-1: #EE46BC;

		--violet-1: #E9D7FE;

		*/

		--red-1: 4.2 76.5% 40%;
		--red-2: 21.8 91.5% 37.1%;
		--red-3: 11.4 83% 56.3%;
		--red-4: 11.4 81.3% 64.3%;
		--red-5: 10.8 80% 68.6%;
		--red-6: 10.9 78.6% 72.5%;
		--red-7: 11.1 67.5% 84.3%;
		--red-8: 45 100% 96.1%;
		--red-9: 5 85.7% 97.3%;
		--red-10:  10.8 70.6% 80%;


		--green-1: 155 96.8% 24.3%;
		--green-2: 152 82.1% 39.4%;
		--green-3: 144.7 81% 95.9%;

		--black-1: 0 0% 0%;
		--black-2: 220 42.9% 11%;
		--black-3: 217.5 23.5% 26.7%;
		--black-4: 220.6 13.2% 46.1%;
		--black-5: 216.9 16% 84.1%;

		--white-1: 0 0% 100%;
		--white-2: 267 100% 96.1%;

		--blue-1: 211.2 95.3% 58%;

		--purple-1: 317.9 83.2% 60.4%;

		--violet-1: 267.7 95.1% 92%;
	}

	.dark {
		--background: 224 71.4% 4.1%;
		--foreground: 210 20% 98%;
		--card: 224 71.4% 4.1%;
		--card-foreground: 210 20% 98%;
		--popover: 224 71.4% 4.1%;
		--popover-foreground: 210 20% 98%;
		--primary: 210 20% 98%;
		--primary-foreground: 220.9 39.3% 11%;
		--secondary: 215 27.9% 16.9%;
		--secondary-foreground: 210 20% 98%;
		--muted: 215 27.9% 16.9%;
		--muted-foreground: 217.9 10.6% 64.9%;
		--accent: 215 27.9% 16.9%;
		--accent-foreground: 210 20% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 210 20% 98%;
		--border: 215 27.9% 16.9%;
		--input: 215 27.9% 16.9%;
		--ring: 216 12.2% 83.9%;
		--chart-1: 220 70% 50%;
		--chart-2: 160 60% 45%;
		--chart-3: 30 80% 55%;
		--chart-4: 280 65% 60%;
		--chart-5: 340 75% 55%;
	}
}

@layer base {
	h2 {
		font-size: 30px;
		line-height: 38px;
		font-weight: 600;
	}
	h3 {
		font-size: 30px;
		line-height: 38px;
		font-weight: 500;
	}

	h6 {
		font-size: 16px;
		line-height: 24px;
		font-weight: 400;
	}

	p {
		font-size: 14px;
		line-height: 20px;
		font-weight: 400;
	}
}
